<h1> Account Details </h1>

<div>
  <h3><p><%= @accounts.account_type %></p></h3>
    <p>Balance: <%= @accounts.balance %></p>
      <p>Has Veteran Status: <%= @accounts.has_veteran_status %></p>
</div>